/*---------------------------------------
      BLOG            
  -----------------------------------------*/

  .blog-header {
    border-radius: var(--border-radius-small);
    position: relative;
    overflow: hidden;
  }

  .blog-header img {
    border-radius: var(--border-radius-small);
    display: block;
  }

  .blog-header-info {
    background: linear-gradient(transparent,rgba(0,0,0,0.95));
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2em;
  }

  .blog-header-info h3 {
    max-width: 80%;
  }

  .blog-header-info a {
    color: var(--white-color);
  }

  .blog-header-info a:hover {
    color: var(--secondary-color);
  }

  .blog-sidebar img {
    border-radius: var(--border-radius-small);
    width: 159px;
    margin-right: 22px;
  }

  .blog-sidebar h3 {
    font-size: 18px;
  }
