/*---------------------------------------
     CONTACT              
  -----------------------------------------*/

  .newsletter-form .form-control,
  .contact-form .form-control {
    box-shadow: none;
    background: var(--project-bg);
    border: 0;
    padding: 1.7em 1.3em;
    margin: 14px 0;
  }

  .newsletter-form button,
  .contact-form #submit-button {
    background: var(--primary-color);
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    cursor: pointer;
    font-size: var(--p-font-size);
    line-height: 0px;
    padding: 1.5em 1.3em;
  }

  .newsletter-form button {
    background: var(--secondary-color);
  }